*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: rgb(240, 243, 244);
    

}
.container{
    width: 95%;
    margin: 70px auto;
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 30px;
    padding: 60px;
    background-color: white;
}
nav h2{
    text-align:left;
    font-size: 60px;
    color: #240959;
    text-shadow: #000000;
    text-decoration-line: overline;
    text-indent: 7%;
    text-decoration:overline;

}
nav ul li{
    text-align:left;
    font-size: 25px;
    color: #0f0e0f;
    text-shadow: #000000;
    text-indent: 7%;
    align-items: center;
    width:20px;
    height: auto;

    
}
img{
    width: 800px;
    height: 900px;
    align-items: center;
}
button{
    width:200px;
    padding:15px;
    margin:20px 5px;
    text-align: center;
    border-radius: 30px;
    color: rgb(22, 21, 21);
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
    background-color: transparent;
    font-style: italic;
}
.card{
    background-color: rgba(17, 184, 218, 0.405);
    border-radius: 8px;
    flex: 1;
    min-width: 200px;
    box-shadow: rgb(15, 15, 15);
    cursor: pointer;
    box-shadow: -1px 0 10px #000000;

}
.card img{
    width: 100px;
    height: auto;
    margin-bottom: 10px;
    

}
.card .content{
    padding: 15px;


}
.card .content h3{
    font-size: 25px;
    margin-bottom: 10px;
    color:rgb(12, 4, 72);
    text-decoration: underline;

}
.card .content p{
    font-size: 15px;
    color: black;
    text-align:justify;
    
}